
body {
    background-color: #D1D3D5;
}

/* Navigation START -------------- */
.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #616567;
    border-style: ridge;
    margin-bottom: 20px;
}

.nav-list {
    list-style: none;
  
}

.nav-item {
    display: inline-block; 
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    
}

a {
    text-decoration: none;
    color: #8AC2DF;
}

li a:hover {
    background-color: #555;
    color: white;
}
/*Navigation END ----------- */

.body {
    text-align: center;

/*----- Profile Section on Summary Page------*/  
  }
  
  .suspect-home {
   text-align: center;
   width: 650px;
   height: 420px;
   margin: 0 auto;
   border-style: inset;
   background-color: #F8F1E9;
  }
  
  .descr {
   margin-left: 100px;
   margin-right: 100px;
  }
  
  .Aldrich {
      font-family: 'Aldrich', sans-serif;
  }
  
  .Yrsa {
      font-family: 'Yrsa', sans-serif;
  }
  
  .suspect-img {
      border-style: double;
  }
  /*---Profile Summary End ---*/
  /*---Associates----*/
  .img-size {
      height: 350px;
      width: 350px;
      border: 1px solid black;
      position: relative;
  }

  .a-title {
      font-weight: bold;
      font-size: 40px;
      padding: 0;
      margin: 40px 0 0 0;
  }
  .associates {
      display: flex;
      justify-content: center;
  }

  .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*----Associates -----*/
/* Rap sheet START -------------- */

.rap-h1{
    text-align: center;
}
#alleged-crimes{
    float:left;
    width:50%;
    margin:-10px;
}
#convictions{
    width: 50%;
    float: left;
    clear: both;
}
#prisons{
    float: right;
    width: 50%;
}
#victims{
    width: 50%;
    float: left;
    clear: both;
}
#cartelImage{
    float:right;
    width: 50%;
    height: 400px;
}

#salvador{
    float:right;
    width: 50%;
    height: 200px;
}
#rap-sheet ul{
    list-style: none;
}

/*Rap -sheet END ----------- */


/* Newsfeed css */
.jsimage {
    width: 100%;
    display: block;
}

.articlediv {
    display: inline-block;
    width: 33%;
    padding: 60px;
    box-sizing: border-box;
}

.newsarticle {
    font-size: 20px;
    font-weight: 900;
}

.ulnews li {
    list-style: none;
    font-weight: 700;
    border-bottom: 3px solid rgba(209,211,213);
}

.ulnews {
    padding-left: 0;
}

.currentnews {
    text-align: center;
}

.green {
    color: green;
}

/* Newsfeed css */

/* Financials */

.flex-span {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hl-span {
    margin: 20px;
    text-align: center;
}

.align {
    text-align: center;
}

.hl-ul li {
    list-style: none;
    text-align: center;
}

.hl-ul {
    text-align: center;
    padding-right: 35px;
}

.hl-h1 {
    margin-top: 50px;
    font-size: 2.5em;
}

.hl-photo {
    height: 350px;
    width: 350px;
    border: 1px solid black;
    margin: auto;
}
