


/* Navigation START -------------- */
.nav-bar {
    display: flex;
    justify-content: center;
    background-color: #D1D3D5;
}

.nav-list {
    list-style: none;
  
}

.nav-item {
    display: inline-block; 
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

a {
    text-decoration: none;
}
/*Navigation END ----------- */

/* Rap sheet START -------------- */

.rap-h1{
    text-align: center;
}
#alleged-crimes{
    float:left;
    width:50%;
    margin:-10px;
}
#convictions{
    width: 50%;
    float: left;
    clear: both;
}
#prisons{
    float: right;
    width: 50%;
}
#victims{
    width: 50%;
    float: left;
    clear: both;
}
#cartelImage{
    float:right;
    width: 50%;
    height: 400px;
}

#salvador{
    float:right;
    width: 50%;
    height: 200px;
}
#rap-sheet ul{
    list-style: none;
}

/*Rap -sheet END ----------- */

.body {
  text-align: center;
}

.suspect-home {
 text-align: center;
 border: 1px solid black;
 width: 850px;
 height: 400px;
 margin: 0 auto;
}

.descr {
 margin-left: 100px;
 margin-right: 100px;
}

.Aldrich {
    font-family: 'Aldrich', sans-serif;
}

.Yrsa {
    font-family: 'Yrsa', sans-serif;
}

.img-size {
    height: 350px;
    width: 350px;
    border: 1px solid black;
}

